@model IEnumerable<CarsTARge22.Models.Cars.CarIndexViewModel>

<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>




<div class="container">
    <a asp-action="create" asp-controller="Cars" type="submit" class="btn btn-success">Create</a>
</div>

<div class="h1">
    Cars
</div>

<div class="table-container">
    <form method="post">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Year</th>
                    <th scope="col">Price</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">ModifiedAt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model.Select((value, index) => new { Value = value, Index = index + 1 }))
                {
                    <tr>
                        <td>@car.Index</td>
                        <td>@car.Value.Brand</td>
                        <td>@car.Value.Model</td>
                        <td>@car.Value.Year</td>
                        <td>@car.Value.Price</td>
                        <td>@car.Value.CreatedAt</td>
                        <td>@car.Value.ModifiedAt</td>
                        <td>
                            <a asp-action="details" asp-controller="cars" asp-route-id="@car.Value.Id" class="btn btn-info">Details</a>
                            <a asp-action="update" asp-controller="cars" asp-route-id="@car.Value.Id" class="btn btn-primary">Update</a>
                            <a asp-action="delete" asp-controller="cars" asp-route-id="@car.Value.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>

<div class="background-img">
    <main role="main" class="pb-3">
    </main>
</div>
